:root{
--color-btn-secondary-text: #1f2937;
}


.main-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  flex-grow: 1;
}

.page-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 1rem;
  transition: color 0.2s;
}

.page-description {
  font-size: 1.125rem;
  color: var(--color-text);
  margin-bottom: 1.5rem;
  transition: color 0.2s;
}

.content-grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 800px) {
  .content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: var(--color-bg-card);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid var(--color-border-nav);
  transition: background-color 0.2s, border-color 0.2s;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text-card-title);
  margin-top: 0;
  margin-bottom: 0.5rem;
  transition: color 0.2s;
}

.card-description {
  color: var(--color-text-card-desc);
  margin-bottom: 1rem;
  transition: color 0.2s;
}

.button {
  display: inline-block;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s;
}

.track-button{
    display: inline-block;
    color: var(--color-btn-secondary-text);
    padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s;
}